---
import {
  IconBrandGithub,
  IconBrandTwitter,
  IconUser,
} from '@tabler/icons-react';
import Button from '../components/Button.astro';
import { SITE_TITLE } from '../consts';

import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <slot name="head" />
  </head>

  <body class="mx-auto max-w-screen-md px-4 break-words text-slate-800">
    <header
      class="bg-primary-100 shadow-primary-200 -mx-4 mb-1 flex items-center justify-between rounded-b-3xl p-6 shadow-[0_4px]"
    >
      <h2>
        <a
          href="/"
          class="text-primary-600 font-['UbuntuMonoSubset'] text-3xl font-semibold"
        >
          {SITE_TITLE}
        </a>
      </h2>
      <nav class="flex gap-2">
        <Button class="text-primary-500 p-1.5" href="/about" aria-label="About">
          <IconUser />
        </Button>
        <Button
          class="text-twitter p-1.5"
          href="https://x.com/eyr1n"
          target="_blank"
          aria-label="Twitter"
        >
          <IconBrandTwitter />
        </Button>
        <Button
          class="text-github p-1.5"
          href="https://github.com/eyr1n"
          target="_blank"
          aria-label="GitHub"
        >
          <IconBrandGithub />
        </Button>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer
      class="border-primary-200 border-t-4 border-dashed py-8 text-slate-400"
    >
      &copy; <span class="font-['UbuntuMonoSubset']">2024 {SITE_TITLE}</span>
    </footer>
  </body>
</html>

<style>
  @font-face {
    font-family: 'UbuntuMonoSubset';
    font-style: normal;
    font-display: swap;
    font-weight: 400 600;
    src: url(@fontsource-variable/ubuntu-sans-mono/files/ubuntu-sans-mono-latin-wght-normal.woff2)
      format('woff2-variations');
  }
</style>
